

.relative {
    position: relative;
    left: 50px;
    top: 150px;
    text-align: center;
  }

.hcolours{
  color:#B05B3B;
}

.acolour{
  color: #ED7D31;
}

.fs-20{
  font-size: 20px;
}

.fs-50{
  font-size: 50px;
}